{% extends 'layout.html' %} {% block content %}

<section
  class="d-flex flex-column m-auto align-items-center justify-content-center"
  style="height: 90vh;"
>
  <h3 class="text-muted text-center">UPLOAD A SAMPLE</h3>
  <form
    method="post"
    action="/"
    enctype="multipart/form-data"
    class="d-flex flex-column align-items-center justify-content-center"
    id="upload-form"
  >
    <div style="height: 0px; overflow: hidden">
      <input type="file" id="fileInput" name="fileInput" />
    </div>
    <div>
      <i
        class="fa fa-cloud-download text-primary"
        style="font-size: 12rem"
        onclick="chooseFile();"
      ></i>
    </div>
    <input type="submit" value="Upload" class="btn btn-success mt-3" style="display: none;"/>
  </form>
</section>

<script>
  function chooseFile() {
    document.getElementById("fileInput").click();
  }

  document.getElementById("fileInput").addEventListener("change", function() {
      document.getElementById("upload-form").submit();
  });
</script>

{% endblock content %}
